{% extends '_base.html' %}

{% block content %}
   <div class = "short-graphic">
        <div class = 'reply-header'>        
            Did The Planet Money Short Make Any Money?
        </div> 
        <div class = 'reply-title'>        
        </div>
        <div class = 'reply-paren'>        
        </div>
        </br>        
        <div class = 'reply-deck'>        
        </div>  
        </br>
        <div class="footnotes">
            <!-- <p>*Not including transaction costs which would be about $20.</p> -->
            <p>
                <a href="http://www.npr.org/blogs/money/2015/01/29/382326996/we-shorted-america" target="_blank">Why Is Planet Money Shorting The Stock Market?</a>
            </p>
        </div>

    </div>
    <div class = "graphic-container">
        <h1 id="head">The History Of Our Short</h1>
        <h2 id="sub-head">SPDR S&P 500 Index Fund (SPY)</h2>
        <div id="graphic"></div>
    </div>    

    <div class="footer">
        <p>Note: *We shorted two shares. Does not include transaction costs which would be about $20.</p>
        <p>Source: Yahoo Finance</p>
        <p>Credit: Quoctrung Bui/NPR</p>
    </div>

    <div class="shareables">
       <div class="twitter-share">
            <a href="http://twitter.com/share?text={{ COPY.share.twitter_text|urlencode }}&amp;url={{ COPY.share.share_url|urlencode }}" target="_blank" onclick="ANALYTICS.clickTwitter('share-discuss');"><i class="fa fa-twitter share-icon"></i> <b>Share story on Twitter</b></a>
        </div><!-- / twitter-share -->


        <div class="facebook-share">        
            <a href="https://www.facebook.com/dialog/feed?app_id={{ COPY.share.facebook_app_id }}&amp;link={{ COPY.share.share_url|urlencode }}&amp;name={{ COPY.share.facebook_title|urlencode }}&amp;picture={{ COPY.share.facebook_image_url|urlencode }}&amp;redirect_uri={{ SHARE_URL|urlencode }}" target="_blank" onclick="ANALYTICS.clickFacebook('share-discuss');"><i class="fa fa-facebook share-icon"></i> <b>Share story on Facebook</b></a>
        </div><!-- / facebook-share -->

 
       <div class="email-friend">
            <a href="mailto:?body={{ COPY.share.email_body|safe }}&subject={{ COPY.share.email_subject }}" onclick="ANALYTICS.clickEmail('share-discuss');"><i class="fa fa-envelope share-icon"></i> <b>Email to a friend</b></a>
        </div><!-- / email-friend -->
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>



{% endblock %}