{% extends '_base.html' %}

{% block content %}
    <div class = "short-graphic">
        <div class = 'reply-header'>        
            Has the Planet Money Armegeddon Trade Made Money?
        </div> 
        <div class = 'reply-title'>        
        </div>
        <div class = 'reply-deck'>        
        </div>  
        <div class = 'reply-paren'>        
        </div>
    </div>
    <div class = "graphic-container">
        <h1 id="head">How is our short actually doing?</h1>
        <h2 id="sub-head">SPDR S&P 500 Index Fund (SPY)</h2>
        <div id="graphic"><img src="fallback.png" alt="[Chart]" class="fallback" /></div>
    </div>    
    <div class="footnotes">
            <h4>Notes</h4>
            <p>We do not endorse any stock or fund. Our selection is for illustrative purposes only. Calculations do not include fees.</p>
    </div>

    <div class="footer">
        <p>Source: Yahoo Finance</p>
        <p>Credit: Quoctrung Bui/NPR</p>
    </div>
{% endblock %}